*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


/****** HEADER ******/
header{
    height: 75px;
    background-color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.my-form, .my-input-form{
    background-color: #E5E5E5;
}

.fa-bell{
    color: #FF8F00;
}

.img-logo{
    width: 50px;
}

.fa-question{
    background-color: gray;
    border-radius: 100%;
    padding: 15px 9px;
    color: white;
}

.button-header{
    border: none;
    color: #FF8F00;
}


/****** SIDEBAR ******/
#sidebar{
    width: 50px;
    background-color: #051E34;
    height: 100vh;
    margin-top: 75px;
    position: fixed;
    background-image: url(../img/sidebar-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: white;
}

.li-bg:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

/****** MAIN ******/
main{
    display: flex;
    overflow-y: auto;
}

.col-todo{
    height: 150px;
}

.main-content{
    width: calc(100vw - 50px);
    margin: 75px 0 0 50px;
}

.content-class{
    background-color: gray;
    height: 300px;
}

.content-faq {
    background-color: gray;
    height: 200px;
}

.content-todo {
    background-color: gray;
    height: 150px;
    margin-bottom: 20px;
}

.content-graphic {
    background-color: gray;
    height: 345px;
}

.container-jumbo{
    background-color: #1B72E8;
    height: 100px;
}

@media screen and (min-width: 991px) {
    #sidebar {
        width: 150px;
    }

    #content {
        width: calc(100vw - 150px);
    }

    .main-content{
        margin: 75px 0 0 150px;
    }

}    